body {
  background-color: #eee;
  margin: 0px;
  min-width: 300px;
}
.overlay {
  background-color: #182e4a;
  background-image: url(../img/dot.svg),linear-gradient(140deg,rgba(24,46,74,.85),rgba(70,174,195,.65)),url(../img/background.jpg);
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-size: 3px,cover,cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 500px;
  position: relative;
  height: 100vh;
}
#header {
  min-height: 180px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 800px;
  top: calc(50% - 71px);
  transform: translateY(-50%);
}
#slogo {
  font-family: gotNormal;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 3px;
  color: #d7eff3;
  box-sizing: border-box;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px;
}
#underSlogo {
  font-family: gotLight;
  font-size: 15px;
  font-weight: 200;
  line-height: 29px;
  text-align: center;
  letter-spacing: .25px;
  color: #d7eff3;
  box-sizing: border-box;
  text-shadow: 0 1px 2px rgba(0,0,0,.3);
  -webkit-font-smoothing: subpixel-antialiased;
  margin-top: -5px;
}
@font-face {
  src: url('ufonts.com_gotham-bold.ttf');
  font-family: 'gotBold';
  font-weight: 100;
}
@font-face {
  src: url('ufonts.com_gotham-book.ttf');
  font-family: 'gotNormal';
  font-weight: 300;
}
@font-face {
  src: url('ufonts.com_gotham-light.ttf');
  font-family: 'gotLight';
  font-weight: 200;
}
#button {
    box-shadow: rgba(0, 0, 0, 0.207843) 0px 1px 3px 0px;
    display: block;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1.5px;
    max-width: 300px;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    width: 100%;
    z-index: 100;
    background: linear-gradient(rgb(105, 195, 57) 0px, rgb(62, 189, 77) 100%);
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    outline: 0px;
    color: white;
    font-family: gotNormal;
    height: 50px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
}
#button:hover {
  background: linear-gradient(rgb(105, 195, 57) 0px, rgb(68, 204, 84) 100%);
  cursor: pointer;
}
.navbar1 {
   background-color: transparent !important;
   background: transparent !important;
   border-color: transparent !important;
   padding-top: 5px;
}
.navbar2 {
  background-color: #fefefe !important;
}
#navbar-shadow2 {
  -webkit-box-shadow: 0px 1px 17px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 17px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 17px -2px rgba(0,0,0,0.2);
  z-index: 999999991;
  margin-top: -100px;
}
.navbar1 li {
  color: #000 !important;
}
.active {
  background-color: transparent  !important;
}
#navbarWidth {
  max-width: 1000px;
}
#brandIcon {
  -webkit-filter: drop-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.0980392));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  height: 70px;
  margin-top: -6px;
}
#brandIcon2 {
  -webkit-filter: drop-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.0980392));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#4b4b4b')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#4b4b4b')";
  height: 80px;
  margin-top: -0px;
}
#brandName {
  color: white;
  float: left;
  margin-top: 18px;
  font-family: gotNormal;
  font-size: 18px;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px;
}
#brandName2 {
  color: gray;
  float: left;
  margin-top: 28px;
  font-family: gotNormal;
  font-size: 18px;
}
.link {
  color: white !important;
  font-family: gotNormal !important;
  font-size: 15px;
  margin-top: 5px;
}
.link2 {
  color: gray !important;
  font-family: gotNormal !important;
  font-size: 15px;
  margin-top: 15px;
}
.link2:hover, .link2.hovered {
  background-color: transparent !important;
  color: rgb(51, 154, 238) !important;
  transition-duration: 0.2;
}
#brandName:hover {
  cursor: default;
}
.navbar-toggle {
  border: none !important;
}
.navbar-toggle:hover {
  background-color: none !important;
}
#section2 {
  width: 100%;
  min-height: 340px;
}
#sec2image {
  min-height: 340px;
  background-image: url(../img/code.jpg);
  background-position: center;
  background-size: cover;
  border-right: 1px solid lightgray;
}
#sec2text {
  min-height: 340px;
  overflow: hidden;
  padding-left: 40px;
  padding-top: 30px;
}
#sec2text #title {
  width: 100%;
  min-height: 50px;
  font-family: gotNormal;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #25292d;
}
#logo2 {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
}
#overlay2 {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
}
#sec2text p {
  font-size: 15px;
  font-family: gotLight;
  color: #6f7c82;
  font-weight: 200;
  letter-spacing: 0.25;
  margin-top: -20px;
  line-height: 30px;
}
#sec3border {
  width: 100vw;
  height: 160px;
  background-color: gray;
  z-index: 9999999;
}
#sec4border {
  height: 165px;
  background-color: #fefefe;
  width: 100vw;
  position: absolute;
  margin-top: -630px;
  z-index: 9999999;
  border: 1px solid lightgray;
}
#sec4border #title {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
  height: 100%;
  text-align: center;
  padding-top: 50px;
  font-family: gotNormal;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 3px;
  color: #737373;
  box-sizing: border-box;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px;

}
#sec5border {
  height: 160px;
  background-color: lightgray;
  width: 100vw;
  position: absolute;
  margin-top: -620px;
  z-index: 9999999;
}
#show-navbar {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: -60px;
  margin-right: 20px;
}
#step1 {
  width: 600px;
  height: 500px;
  background-image: url("../img/sketch.jpg");
  border: 1px solid lightgray;
  z-index: 99999999999;
  position: absolute;
}
#step2 {
  width: 100%;
  height: 500px;
  background-image: url("../img/product.jpg");
  border: 1px solid lightgray;
  z-index: 99999999999;
}
#step3 {
  width: 100%;
  height: 500px;
  background-color: green;
  z-index: 99999999999;
}
.panel {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  overflow: hidden;
  background-color: green;
}
#step1background {
  width: 100vw;
  min-height: 960px;
  background-color: #182e4a;
  background-image: url(../img/dot.svg),linear-gradient(140deg,rgba(24,46,74,.85),rgba(70,174,195,.65)),url();
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-size: 3px,cover,cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
}
#step2background {
  width: 100vw;
  min-height: 900px;
  background-color: #eeeeee;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-size: 3px,cover,cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  margin-top: -600px;
  z-index: -2;
}
#titleStep1Container {
  min-width: 600px;
  height: 150px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
#titleStep1Container #title {
  padding-top: 50px;
  font-family: gotNormal;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 3px;
  color: #d7eff3;
  box-sizing: border-box;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px;
}
#titleStep1Container #underTitle {
  font-family: gotLight;
  font-size: 15px;
  font-weight: 200;
  line-height: 29px;
  text-align: center;
  letter-spacing: .25px;
  color: #d7eff3;
  box-sizing: border-box;
  text-shadow: 0 1px 2px rgba(0,0,0,.3);
  -webkit-font-smoothing: subpixel-antialiased;
  margin-top: -5px;
}
#footer {
  width: 100%;
  min-height: 200px;
  background-color: #182e4a;
  background-image: url(../img/dot.svg),linear-gradient(140deg,rgba(24,46,74,.85),rgba(70,174,195,.65));
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-size: 3px,cover,cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#projectSection {
  width: 100%;
  height: 80px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
background: rgb(63,76,107); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
text-align: center;
margin-top: -50px;
}
#projectSection #title {
  line-height: 85px;
  color: #d7eff3;
  box-sizing: border-box;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px;
  font-family: gotNormal;
  font-size: 20px;
  opacity: 0.96;
  letter-spacing: 2px;
}
#projectList {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  background-color: #182e4a;
}
.col-md-4 {
  padding: 0px !important;
}
#project1 {
  min-height: 200px;
  background-image: url(../img/davidnarrowe/davidnarrowe-background.jpg);
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
#project2 {
  min-height: 200px;
  background-image: url(../img/psykologlovegrahn/psykologlovegrahn-background.jpg);
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
#project-overlay {
  background: url(../img/dot.svg),radial-gradient(circle farthest-corner at 100% 100%,#46b8cd,#276073 50%,#182e4a);
  background-size: 3px,auto;
  border: none;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  transition: .3s;
  width: 100%;
  z-index: 999;
  position: absolute;
}
#project-img {
  max-width: 280px;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  z-index: 1000;
}
#project-overlay:hover {
  cursor: pointer;
}
#project-img:hover {
  cursor: pointer;
}
.project:hover {
  cursor: pointer;
}
#contact {
  min-height: 600px;
  background-color: white;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .navbar-collapse2.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0px;
    overflow: visible !important;
  }
}
#navbar2-trigger {
  width: 100px;
  height: 70px;
  position: absolute;
  bottom:0;
}
#navbar2-trigger2 {
  width: 100px;
  height: 70px;
  position: absolute;
  bottom:0;
}
#navbar2-trigger3 {
  width: 100px;
  height: 70px;
  position: absolute;
  margin-top: -90px;
}
#navbar2-trigger4 {
  width: 100px;
  height: 70px;
  position: absolute;
  margin-top: -90px;
}
#navbarOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  display: none;
  z-index: calc(100*100);
}
.overlay2 {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 9999999999999999999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #f2f2f2; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  overflow-x: hidden; /* Disable horizontal scroll */
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay2 a {
    font-family: gotNormal;
    padding: 8px;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay2 a:hover, .overlay2 a:focus .overlay2 a:active{
    color: #008aee;
    text-decoration: none;
}

/* Position the close button (top right corner) */
.overlay2 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay2 a {font-size: 20px}
    .overlay2 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
